/* Fonts */
@import url("font/css2.css");

@font-face {
  font-family: 'Graphik';
  src: url("font/GraphikBold.otf") format("truetype");
}


/* Animation */
@-webkit-keyframes animate {

  0%,
  100% {
    -webkit-transform: scale(30%) translateY(-45px);
    transform: scale(30%) translateY(-45px);
  }

  50% {
    -webkit-transform: scale(25%) translateY(45px);
    transform: scale(25%) translateY(45px);
  }
}

@keyframes animate {

  0%,
  100% {
    -webkit-transform: scale(30%) translateY(-45px);
    transform: scale(30%) translateY(-45px);
  }

  50% {
    -webkit-transform: scale(25%) translateY(45px);
    transform: scale(25%) translateY(45px);
  }
}

@media (max-width: 991.98px) {
  @-webkit-keyframes animate {

    0%,
    100% {
      -webkit-transform: scale(20%) translateY(-45px);
      transform: scale(20%) translateY(-45px);
    }

    50% {
      -webkit-transform: scale(15%) translateY(45px);
      transform: scale(15%) translateY(45px);
    }
  }

  @keyframes animate {

    0%,
    100% {
      -webkit-transform: scale(20%) translateY(-45px);
      transform: scale(20%) translateY(-45px);
    }

    50% {
      -webkit-transform: scale(15%) translateY(45px);
      transform: scale(15%) translateY(45px);
    }
  }
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: scale(23%) rotate(0deg);
    transform: scale(23%) rotate(0deg);
  }

  100% {
    -webkit-transform: scale(23%) rotate(360deg);
    transform: scale(23%) rotate(360deg);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: scale(23%) rotate(0deg);
    transform: scale(23%) rotate(0deg);
  }

  100% {
    -webkit-transform: scale(23%) rotate(360deg);
    transform: scale(23%) rotate(360deg);
  }
}


/* Global */
body {
  background-color: #19191b;
}

.__bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.__bg .__bg-color {
  position: absolute;
  border-radius: 200px;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  z-index: -1;
}

.__bg .__bg-color:nth-child(1) {
  width: 450px;
  height: 1200px;
  top: -5%;
  left: -2%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 212, 0.25)), to(rgba(84, 84, 212, 0.1)));
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.25), rgba(84, 84, 212, 0.1));
  -webkit-transform: rotate(-53deg);
  transform: rotate(-53deg);
}

.__bg .__bg-color:nth-child(2) {
  width: 450px;
  height: 1200px;
  top: 2%;
  right: 3%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 168, 28, 0.075)), to(rgba(224, 80, 136, 0.025)));
  background: linear-gradient(180deg, rgba(251, 168, 28, 0.075), rgba(224, 80, 136, 0.025));
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
}

.__bg .__bg-color:nth-child(3) {
  width: 450px;
  height: 500px;
  top: 38.5%;
  left: -17%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 212, 0.25)), to(rgba(84, 84, 212, 0.1)));
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.25), rgba(84, 84, 212, 0.1));
  -webkit-transform: rotate(-57deg);
  transform: rotate(-57deg);
}

.__bg .__bg-color:nth-child(4) {
  width: 860px;
  height: 2500px;
  top: 27%;
  right: 0%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 168, 28, 0.075)), to(rgba(224, 80, 136, 0.025)));
  background: linear-gradient(180deg, rgba(251, 168, 28, 0.075), rgba(224, 80, 136, 0.025));
  -webkit-transform: rotate(67deg);
  transform: rotate(67deg);
}

.__bg .__bg-color:nth-child(5) {
  width: 600px;
  height: 650px;
  top: 61%;
  right: -21%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 212, 0.25)), to(rgba(84, 84, 212, 0.1)));
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.25), rgba(84, 84, 212, 0.1));
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}

body * {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand img,
.__brand img {
  height: 40px;
  width: 40px;
}

@media (max-width: 991.98px) {

  .navbar-brand img,
  .__brand img {
    height: 36px;
    width: 36px;
  }
}

.navbar-brand span,
.__brand span {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  line-height: 39px;
}

@media (max-width: 991.98px) {

  .navbar-brand span,
  .__brand span {
    font-size: 22px;
  }
}

h1 {
  font-family: 'Graphik', sans-serif;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 50px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 24px;
  }
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 70px;
}

@media (max-width: 991.98px) {
  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }
}

.__button1 {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  padding: 14px 26px;
  border: 1px solid #5454d4;
  background-color: #5454d4;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.__button1 i {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.__button1:hover {
  color: #5454d4;
  background-color: transparent;
}

.__button1:hover I {
  color: #5454d4;
}

@media (max-width: 991.98px) {
  .__button1 {
    font-size: 16px;
  }
}


/* Header */
header {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

header button {
  line-height: 0;
}

header button i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

header button i:hover {
  color: white;
}

@media (max-width: 767.98px) {
  header .offcanvas {
    background-color: #19191b;
  }

  header .offcanvas button i {
    background-color: #19191b;
  }
}

header .nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7) !important;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

header .nav-link:hover,
header .nav-link.active {
  color: #5454d4 !important;
}

@media (max-width: 991.98px) {
  header .nav-link {
    font-size: 14px;
  }
}

header .nav-link.__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: white !important;
  padding: 8px 28px !important;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

header .nav-link.__button:hover,
header .nav-link.__button.active {
  background-color: #5454d4;
}

@media (max-width: 991.98px) {
  header .nav-link.__button {
    font-size: 13px;
  }
}

@media (max-width: 767.98px) {
  header .nav-link.__button {
    margin-top: 15px;
  }
}


/* Hero */
#hero {
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 767.98px) {
  #hero {
    padding-bottom: 80px;
  }
}

#hero .__hero {
  position: relative;
  margin-top: -10px;
}

@media (max-width: 767.98px) {
  #hero .__hero {
    margin-top: 35px;
  }
}

#hero .__hero .__img {
  position: relative;
  left: 8%;
  -webkit-transform: scale(110%);
  transform: scale(110%);
}

#hero .__hero .__vektor {
  position: absolute;
  top: 54px;
  left: 19px;
  -webkit-transform: scale(78%);
  transform: scale(78%);
  z-index: -1;
}

#hero .__hero .__vektor1,
#hero .__hero .__vektor2,
#hero .__hero .__vektor3,
#hero .__hero .__vektor4 {
  position: absolute;
  -webkit-transform: scale(25%);
  transform: scale(25%);
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
  animation-delay: calc(-1s * var(--i));
  z-index: -1;
}

#hero .__hero .__vektor1 {
  top: -40px;
  right: -20px;
}

@media (max-width: 767.98px) {
  #hero .__hero .__vektor1 {
    right: -50px;
  }
}

#hero .__hero .__vektor2 {
  top: 25px;
  left: -130px;
}

@media (max-width: 767.98px) {
  #hero .__hero .__vektor2 {
    left: -100px;
  }
}

#hero .__hero .__vektor3 {
  bottom: -135px;
  left: -165px;
}

@media (max-width: 767.98px) {
  #hero .__hero .__vektor3 {
    left: -135px;
  }
}

#hero .__hero .__vektor4 {
  -webkit-animation: animate1 4s linear infinite;
  animation: animate1 4s linear infinite;
  bottom: -30px;
  right: -40px;
}

@media (max-width: 767.98px) {
  #hero .__hero .__vektor4 {
    right: -70px;
  }
}

#hero h1 {
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 24px;
}

@media (max-width: 991.98px) {
  #hero h1 {
    font-size: 54px;
    line-height: 60px;
  }
}


/* Services Intro */
#services-intro {
  padding-top: 50px;
  padding-bottom: 50px;
}

#services-intro .__video {
  position: relative;
}

#services-intro .__video .__video-preview img {
  width: 100%;
  height: auto;
}

#services-intro .__video .__video-preview span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#services-intro .__video .__video-preview span i {
  cursor: pointer;
  font-size: 20px;
  padding: 40px 40px 40px 44px;
  background-color: #5454d4;
  border: 1px solid #5454d4;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#services-intro .__video .__video-preview span i:hover {
  color: #5454d4;
  background-color: transparent;
}

@media (max-width: 991.98px) {
  #services-intro .__video .__video-preview span i {
    font-size: 15px;
    padding: 20px 18px 20px 22px;
  }
}

#services-intro .__video .__video-detail {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#services-intro .__video .__video-detail.active {
  visibility: visible;
  opacity: 1;
}

#services-intro .__video .__video-detail video {
  min-width: 60%;
  max-width: 90%;
  outline: 0;
}

#services-intro .__video .__video-detail i {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#services-intro .__video .__video-detail i:hover {
  color: white;
}


/* Services */
#services {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

#services .container {
  position: relative;
}

#services .container .__vektor5,
#services .container .__vektor6,
#services .container .__vektor7 {
  position: absolute;
  -webkit-transform: scale(25%);
  transform: scale(25%);
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
  animation-delay: calc(-1s * var(--i));
  z-index: -1;
}

#services .container .__vektor5 {
  -webkit-animation: animate1 4s linear infinite;
  animation: animate1 4s linear infinite;
  top: 3%;
  right: -3%;
}

#services .container .__vektor6 {
  top: -22%;
  left: -10%;
}

#services .container .__vektor7 {
  -webkit-animation: animate1 4s linear infinite;
  animation: animate1 4s linear infinite;
  bottom: -10%;
  left: -6%;
}

#services h1 {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  #services h1 {
    margin-bottom: 0;
  }
}

#services .__main .col-10 {
  padding: 0 35px;
}

@media (max-width: 767.98px) {
  #services .__main .col-10 {
    padding: 0 20px;
  }
}

#services img {
  margin: auto;
  -webkit-transform: scale(35%);
  transform: scale(35%);
  margin-bottom: -46px;
}

@media (max-width: 991.98px) {
  #services img {
    -webkit-transform: scale(25%);
    transform: scale(25%);
    margin-top: -20px;
    margin-bottom: -60px;
  }
}

#services h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  #services h4 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 14px;
  }
}

#services p {
  line-height: 28px;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  #services p {
    margin-bottom: 0;
  }
}


/* Project */
#project {
  padding-top: 100px;
  padding-bottom: 150px;
}

@media (max-width: 991.98px) {
  #project {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

#project .container {
  position: relative;
}

#project .container .__vektor8,
#project .container .__vektor9 {
  position: absolute;
  -webkit-transform: scale(25%);
  transform: scale(25%);
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
  animation-delay: calc(-1s * var(--i));
  z-index: -1;
}

#project .container .__vektor8 {
  top: -8%;
  right: -5%;
}

#project .container .__vektor9 {
  bottom: -10%;
  left: -11%;
}

#project h1 {
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  #project h1 {
    margin-bottom: 2px;
  }
}

#project .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #121213;
}

#project .carousel-indicators button.active {
  width: 16px;
  background-color: #5454d4;
}

#project .carousel-item {
  padding-top: 50px;
  padding-bottom: 80px;
}

#project .carousel-item .row {
  height: 420px;
  text-align: center;
}

@media (max-width: 991.98px) {
  #project .carousel-item .row {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  #project .carousel-item .row {
    height: 400px;
  }
}

@media (max-width: 595.98px) {
  #project .carousel-item .row {
    height: 300px;
  }
}


/* Contact */
#contact {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: rgba(30, 30, 32, 0.5);
}

@media (max-width: 991.98px) {
  #contact {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

#contact .container {
  position: relative;
}

#contact .container .__vektor10,
#contact .container .__vektor11 {
  position: absolute;
  -webkit-transform: scale(25%);
  transform: scale(25%);
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
  animation-delay: calc(-1s * var(--i));
  z-index: -1;
}

#contact .container .__vektor10 {
  -webkit-animation: animate1 4s linear infinite;
  animation: animate1 4s linear infinite;
  top: -100%;
  right: -4%;
}

#contact .container .__vektor11 {
  bottom: -120%;
  left: -2%;
}

#contact h1 {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  #contact h1 {
    margin-bottom: 0;
  }
}


/* Footer */
footer {
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 1199.98px) {
  footer .__brand {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1199.98px) {
  footer .__link {
    margin-bottom: 30px;
  }
}

footer .__link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

footer .__link a:hover,
footer .__link a.active {
  color: #5454d4;
}

@media (max-width: 991.98px) {
  footer .__link a {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  footer .__link a {
    font-size: 12px;
  }
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  footer p {
    font-size: 13px;
    margin-bottom: 0;
  }
}
